body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: "Poppins", sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 1.8em;
    color: black;
}
.first_image, .second_image, .third_image {
    position: relative;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.first_image {
    background-image: url("3DPrinters1.jpg");
    min-height: 100%;
}
.second_image {
    background-image: url("Microcontroller.jpg");
    min-height: 400px;
}
.third_image {
    background-image: url("3DPrinters2.jpg");
    min-height: 400px;
}
h2 {
    text-align: center;
}
.first_section {
    background-color: white;
    color: black;
    padding: 50px 150px;
}
@media (min-width: 1024px) {
    .split_main {
        display: flex;
    }
    .split_one {
        width: 50%;
        padding-right: 2.5%;
    }
    .split_two {
        width: 50%;
    }
}
.second_section {
    background-color: white;
    color: black;
    text-align: center;
    padding: 50px 150px;
}
.third_section {
    background-color: white;
    color: black;
    padding: 50px 150px;
}
.first_text, .second_text, .third_text {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 40px;
    letter-spacing: 4px;
    text-transform: uppercase;
}
a:visited {
    color: blue;
}
.project_images { 
    margin: 10px 50px;
}
.project_images img {
    transition: 0.5s;
    padding: 10px;
    width: 275px;
}
.project_images img:hover {
    transform: scale(1.075);
}
table, td, th {
    border: 1px solid black;
}
table {
    width: 100%;
    border-collapse: collapse;
}
#loader {
    background: white;
    height: 100vh;
    width: 100%;
    position: fixed;
    z-index: 100;

    display: flex;
    align-items: center;
    justify-content: center;
}
@keyframes arrows {
    0%, 100% {
        color: black;
        transform: translateY(0);
    }
    50% {
        color: #3AB493;
        transform: translateY(10px);
    }
}
.loading_symbol {
    --delay: 0s;
    animation: arrows 1.5s var(--delay) infinite ease-in;
}